* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 2%;
    margin-right: 2%;
}

header,
footer {
    background-color: rgb(6, 20, 80);
    color: rgb(255, 255, 255);
    display: block;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    padding: 20px;
}

.top {
    display: block;
    text-align: center;
}

.articleText {
    display: block;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}